<div class="shadow">
  <%= link_to(lecture, class: "text-muted") do %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= lecture.title %></h5>
      <p class="card-text"><%= lecture.content.truncate(100) %></p>
    </div>
  </div>
  <% end %>
</div>
