<div id="lectures-index" class="container my-5">
  <div class="row">
    <div class="col">
      <form class="text-center">
        <div class="form-group">
          <input type="search" id="lecture-search-box" class="form-control mx-auto" placeholder="検索..." aria-label="検索...">
        </div>
        <div class="mt-4">
          <%= link_to "さがす", "#", class: "text-muted" %>
        </div>
      </form>
    </div>
  </div>

  <div class="card my-5">
    <h5 class="card-header">評価の高い授業</h5>
    <div class="card-body">
      <div class="card-group">
        <div class="card border-0">
          <div class="card-body">
            <p class="font-weight-bold">授業別</p>
          </div>
        </div>
        <div class="card border-0">
          <div class="card-body">
            <p class="font-weight-bold">講師別</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <% @lectures.each do |lecture| %>
    <div class="col-sm-6 col-md-4 mb-5">
      <%= render "lecture", lecture: lecture %>
    </div>
    <% end %>
    <div class="col-12">
      <%= paginate @lectures %>
    </div>
  </div>
</div>
