<div id="lectures-index" class="container my-5">
  <div class="row">
    <div class="col">
      <form class="text-center">
        <div class="form-group">
          <input type="search" id="lecture-search-box" class="form-control mx-auto" placeholder="検索..." aria-label="検索...">
        </div>
        <div class="mt-4">
          <%= link_to "さがす", "#", class: "text-muted mr-3" %>
          <%= link_to "レビューする", "#", class: "text-muted ml-3" %>
        </div>
      </form>
    </div>
  </div>

  <div class="card mt-5">
    <h5 class="card-header">満足度ランキング</h5>
    <div class="card-body">
      <div class="card-group">
        <div class="card border-0">
          <div class="card-body">
            <p>授業別</p>
          </div>
        </div>
        <div class="card border-0">
          <div class="card-body">
            <p>講師別</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-5">
    <h5 class="card-header">〇〇ランキング</h5>
    <div class="card-body">
      <div class="card-group">
        <div class="card border-0">
          <div class="card-body">
            <p>授業別</p>
          </div>
        </div>
        <div class="card border-0">
          <div class="card-body">
            <p>講師別</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
