<div id="lectures-index" class="container my-5">
  <div class="card mt-5">
    <h5 class="card-header"><%= @lecture.title %></h5>
    <div class="card-body">
      <div class="row">
        <div class="col-8">
          <strong>概要</strong>
          <p><%= @lecture.content %></p>
        </div>
        <div class="col-4">
          <strong>評価</strong>
          <p>3.5 / 5.0</p>
        </div>

        <div class="col-12">
          <strong>授業毎の内容</strong>
          <div class="row">
            <div class="col-6">
              <p>1.</p>
              <p>2.</p>
              <p>3.</p>
              <p>4.</p>
              <p>5.</p>
            </div>
            <div class="col-6">
              <p>6.</p>
              <p>7.</p>
              <p>8.</p>
              <p>9.</p>
              <p>10.</p>
            </div>
          </div>
        </div>

        <div class="col-6">
          <strong>良いところ</strong>
          <ul>
            <li>コメントコメントコメントコメント</li>
            <li>コメントコメントコメントコメント</li>
            <li>コメントコメントコメントコメント</li>
            <li>コメントコメントコメントコメント</li>
          </ul>
        </div>
        <div class="col-6">
          <strong>悪いところ</strong>
          <ul>
            <li>コメントコメントコメントコメント</li>
            <li>コメントコメントコメントコメント</li>
            <li>コメントコメントコメントコメント</li>
            <li>コメントコメントコメントコメント</li>
          </ul>
        </div>
      <div>
    </div>
  </div>
</div>
