<div id="lectures-show" class="container my-5">
  <div class="card mt-5">
    <h5 class="card-header">
      <%= @lecture.title %>
      <%= link_to "レビューする", "#", class: "btn btn-secondary float-right shadow" %>
    </h5>
    <div class="card-body">
      <div class="row">
        <div class="col-8">
          <p class="font-weight-bold">概要</p>
          <p><%= @lecture.content %></p>
        </div>
        <div class="col-4">
          <p class="font-weight-bold">評価</p>
          <p>3.5 / 5.0</p>
        </div>

        <div class="col-12 mt-4">
          <p class="font-weight-bold">授業毎の内容</p>
          <div class="row">
            <div class="col-sm-6">
              <p>1.</p>
              <p>2.</p>
              <p>3.</p>
              <p>4.</p>
              <p>5.</p>
            </div>
            <div class="col-sm-6">
              <p>6.</p>
              <p>7.</p>
              <p>8.</p>
              <p>9.</p>
              <p>10.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 mt-4">
          <p class="font-weight-bold">良いところ</p>
          <ul>
            <li>コメントコメントコメントコメント</li>
            <li>コメントコメントコメントコメント</li>
            <li>コメントコメントコメントコメント</li>
            <li>コメントコメントコメントコメント</li>
          </ul>
        </div>
        <div class="col-sm-6 mt-4">
          <p class="font-weight-bold">悪いところ</p>
          <ul>
            <li>コメントコメントコメントコメント</li>
            <li>コメントコメントコメントコメント</li>
            <li>コメントコメントコメントコメント</li>
            <li>コメントコメントコメントコメント</li>
          </ul>
        </div>
      <div>
    </div>
  </div>
</div>
